<a href="https://colab.research.google.com/github/CatalinaOrtegha/Challenge-Data-Science-Alura-Store/blob/main/Challenge_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importación de datos

In [3]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

#Creación de los dataframes
tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

In [4]:
tiendas = [tienda1, tienda2, tienda3, tienda4]

#Análisis de datos

In [5]:
#Composición del dataframe
tienda1.info()

#Primeras filas del dataframe (información parcial)
tienda1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

##1. Análisis de facturación

In [6]:
#Ingreso total por cada tienda

ingreso_tienda1=tienda1["Precio"].sum()
ingreso_tienda2=tienda2["Precio"].sum()
ingreso_tienda3=tienda3["Precio"].sum()
ingreso_tienda4=tienda4["Precio"].sum()

print(f'El ingreso total de la tienda 1 es ${ingreso_tienda1:.0f}')
print(f'El ingreso total de la tienda 2 es ${ingreso_tienda2:.0f}')
print(f'El ingreso total de la tienda 3 es ${ingreso_tienda3:.0f}')
print(f'El ingreso total de la tienda 4 es ${ingreso_tienda4:.0f}')

El ingreso total de la tienda 1 es $1150880400
El ingreso total de la tienda 2 es $1116343500
El ingreso total de la tienda 3 es $1098019600
El ingreso total de la tienda 4 es $1038375700

##2. Ventas por categoría

In [7]:
#Cantidad de productos por categoría en cada tienda


productos_t1=tienda1["Categoría del Producto"].value_counts().sort_values(ascending=False)
productos_t2=tienda2["Categoría del Producto"].value_counts().sort_values(ascending=False)
productos_t3=tienda3["Categoría del Producto"].value_counts().sort_values(ascending=False)
productos_t4=tienda4["Categoría del Producto"].value_counts().sort_values(ascending=False)


print("Tienda 1\n",productos_t1,"\n")
print("Tienda 2\n",productos_t2,"\n")
print("Tienda 3\n",productos_t3,"\n")
print("Tienda 4\n",productos_t4,"\n")

Tienda 1
 Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Tienda 2
 Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Tienda 3
 Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Tienda 4
 Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [14]:
def contar_categorias(df, columna):
    return df[columna].value_counts().sort_values(ascending=False).head(1)

for i, df in enumerate(tiendas, start=1):
    ranking = contar_categorias(df, "Categoría del Producto")
    print(f"Tienda {i}: Categoría con mayor cantidad de ventas\n", ranking, "\n")

Tienda 1: Categoría con mayor cantidad de ventas
 Categoría del Producto
Muebles    465
Name: count, dtype: int64

Tienda 2: Categoría con mayor cantidad de ventas
 Categoría del Producto
Muebles    442
Name: count, dtype: int64

Tienda 3: Categoría con mayor cantidad de ventas
 Categoría del Producto
Muebles    499
Name: count, dtype: int64

Tienda 4: Categoría con mayor cantidad de ventas
 Categoría del Producto
Muebles    480
Name: count, dtype: int64

##3. Calificación promedio en cada tienda

In [9]:
# Calificaciones promedio en cada tienda

calificacion_t1=tienda1["Calificación"].mean()
calificacion_t2=tienda2["Calificación"].mean()
calificacion_t3=tienda3["Calificación"].mean()
calificacion_t4=tienda4["Calificación"].mean()

print(f'La calificación promedio de la tienda 1 es: {calificacion_t1:.2f}')
print(f'La calificación promedio de la tienda 2 es: {calificacion_t2:.2f}')
print(f'La calificación promedio de la tienda 3 es: {calificacion_t3:.2f}')
print(f'La calificación promedio de la tienda 4 es: {calificacion_t4:.2f}')

La calificación promedio de la tienda 1 es: 3.98
La calificación promedio de la tienda 2 es: 4.04
La calificación promedio de la tienda 3 es: 4.05
La calificación promedio de la tienda 4 es: 4.00

##4. Productos más y menos vendidos

In [15]:
def contar_productos_mas_vendidos(df, columna):
    return df[columna].value_counts().sort_values(ascending=False).head()

for i, df in enumerate(tiendas, start=1):
    ranking = contar_productos_mas_vendidos(df, "Producto")
    print(f"Tienda {i}: Productos más vendidos\n", ranking, "\n")

Tienda 1: Productos más vendidos
 Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

Tienda 2: Productos más vendidos
 Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Guitarra acústica            58
Pandereta                    58
Name: count, dtype: int64

Tienda 3: Productos más vendidos
 Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
Name: count, dtype: int64

Tienda 4: Productos más vendidos
 Producto
Cama box                     62
Cubertería                   59
Dashboards con Power BI      56
Cama king                    56
Carrito de control remoto    55
Name: count, dtype: int64

In [12]:
def contar_productos_menos_vendidos(df, columna):
    return df[columna].value_counts().sort_values(ascending=False).tail()

for i, df in enumerate(tiendas, start=1):
    ranking = contar_productos_menos_vendidos(df, "Producto")
    print(f"Tienda {i}: Productos menos vendidos\n", ranking, "\n")

Tienda 1: Productos menos vendidos
 Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

Tienda 2: Productos menos vendidos
 Producto
Auriculares        37
Sillón             35
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

Tienda 3: Productos menos vendidos
 Producto
Guitarra eléctrica         38
Set de vasos               36
Mochila                    36
Microondas                 36
Bloques de construcción    35
Name: count, dtype: int64

Tienda 4: Productos menos vendidos
 Producto
Refrigerador                   38
Ciencia de datos con Python    38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
Name: count, dtype: int64

##5. Envio promedio por cada tienda

In [13]:
t1_promedio_costo_envio=tienda1["Costo de envío"].mean()
t2_promedio_costo_envio=tienda2["Costo de envío"].mean()
t3_promedio_costo_envio=tienda3["Costo de envío"].mean()
t4_promedio_costo_envio=tienda4["Costo de envío"].mean()

print(f'El costo promedio de envío de la tienda 1 es: ${t1_promedio_costo_envio:.2f}')
print(f'El costo promedio de envío de la tienda 2 es: ${t2_promedio_costo_envio:.2f}')
print(f'El costo promedio de envío de la tienda 3 es: ${t3_promedio_costo_envio:.2f}')
print(f'El costo promedio de envío de la tienda 4 es: ${t4_promedio_costo_envio:.2f}')

El costo promedio de envío de la tienda 1 es: $26018.61
El costo promedio de envío de la tienda 2 es: $25216.24
El costo promedio de envío de la tienda 3 es: $24805.68
El costo promedio de envío de la tienda 4 es: $23459.46